<div class="content">
  <form class="loginform flex-item" [formGroup]="loginForm">
    <mat-form-field class="example-full-width">
      <!-- <mat-icon matPrefix svgIcon="account_circle" md-font-set="material-icons">account_circle</mat-icon> -->
      <i class="material-icons" matPrefix>account_circle</i>
      <input matInput placeholder="Email" formControlName="username" [errorStateMatcher]="matcher" #username>
      <!-- <mat-hint>Please enter your email id!</mat-hint> -->
      <mat-error *ngIf="loginForm.controls['username'].hasError('email') && !loginForm.controls['username'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-form-field class="example-full-width">
      <!-- <mat-icon matPrefix svgIcon="lock">lock</mat-icon> -->
      <i class="material-icons" matPrefix>lock</i>
      <input matInput placeholder="password" formControlName="password" [errorStateMatcher]="matcher" type="password">
      <mat-error *ngIf="loginForm.controls['password'].hasError('pattern') && !loginForm.controls['password'].hasError('required')">
        Please enter a valid password(Must contain Capital letter, number and should be at least 6 letters)
      </mat-error>
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        Password is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <button mat-button mat-raised-button color="primary" type="button" (click)="login()">Login</button>
  </form>
  <p>
    Or </p>
  <div class="fb-login-button flex-item" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false"
    data-auto-logout-link="false" data-use-continue-as="false"></div><br/>
  <div class="flex-item">
    <div class="g-signin2 google-btn" data-onsuccess="console.log" data-theme="dark"></div>
  </div>
</div>