<article>
  <mat-card class="example-card">
    <div routerLink="/details/{{_article.id}}">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{_article.header}}</mat-card-title>
        <mat-card-subtitle>{{'author: '+_article.author+'\n'+_article.date}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{_article.thumbnail}}" alt="Photo of a Shiba Inu" *ngIf="_article.thumbnail">
      <mat-card-content>
        <p *ngFor="let text of _article.content">
          <span *ngIf="text['text']">{{text['text']|limitchar:80}}</span>
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</article>
