<div class="container">
  <div class="profile-pg-container">
    <!-- <h2 class="profile_name">Dilip Verma</h2>
    <h3></h3> -->
    <h2>Skillset:</h2>
    <ul>
      <li>Angularjs 1.x, angular 5, amgular material design, angular SDK, ES6, typescript</li>
      <li>Nodejs, ExpressJS, Java 8</li>
      <li>MongoDB, Neo4J</li>
      <li>Android Native Application development, also trying my hands on ionic which seems pretty promising</li>
    </ul>
    <h2>Currently learning:</h2>
    <ul>
      <li>Kotlin</li>
      <li>Ionic</li>
      <li>Searching for an opportunity to lean AI</li>
    </ul>
    <h2>
      Projects:
    </h2>
    <ul>
      <li>
        Personal Loans Application for Westpac
      </li>
      <li>

        Balance Transfer Application for Westpac

      </li>
      <li>

        Cobrand Appliation for Westpac

      </li>
      <li>

        Credit Card Application for Westpac

      </li>
    </ul>
    <h2>Personal Projects;</h2>
    <ul>
      <li>
        An ionic login page with Google and Facebook Oauth integration
        <a href="">link to Github code</a>
      </li>
      <li>
        A MEAN application for getting crypto currency information
        <a href="">Link to Github code</a>
      </li>
      <li>
        An Angular 5 Application
        <a href="">Link to Github Code</a>
      </li>
      <li>
        Java solutions for some Hackerrank problems
        <a href="">Link to Github code</a>
      </li>
    </ul>

  </div>
  <div class="sidemenu">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="profile-header-image"></div>
        <mat-card-title>&lt;name&gt;Dilip Verma&#47;&lt;name&gt;</mat-card-title>
        <mat-card-subtitle>&lt;Profession&gt;Coder&lt;&#47;Profession&gt;</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/profile.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color:black">
          &lt;description&gt; A thinker, a day dreamer and a bit lazy person who likes to consider himself a full stack developer.
          Likes to learn new technologies, build end to end solutions for web and mobile platforms.&lt;&#47;Profession&gt;
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button ><a href="mailto:dilipv1990@gmail.com">Email</a></button>
        <button mat-button><a href="tel:+61466496737">Mobile</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
