nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:64px;
  background-color:#03a9f4;
  -webkit-box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2);
	box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 350ms cubic-bezier(.70, 0, .34, 1); 
	-moz-transition: all 350ms cubic-bezier(.70, 0, .34, 1);
	-o-transition:  all 350ms cubic-bezier(.70, 0, .34, 1);
  transition: all 350ms cubic-bezier(.70, 0, .34, 1);
}
nav.hidden{
  top:-64px;
}